@import "layout/fonts"
$color-yellow: #f39c12

body
	color: #4d4d4d
	font-family: "Open Sans", Arial, sans-serif
	font-size: 16px
.wrapper
	max-width: 1170px
	margin: 0 auto
a 
	text-decoration: none
h1
	color:  #ffffff
	font-size: 45px
	font-weight: 300
	line-height: 60px
	margin-bottom: 90px
	span.lg
		color:  #ffffff
		font-size: 70px
		font-weight: 700
		line-height: 80px
	span.sm
		color:  #ffffff
		font-size: 40px
		font-weight: 300
		line-height: 60px
h6
	color:  #0c0c0c
	font-size: 20px
	font-weight: 700
	line-height: 25px
	text-transform: uppercase
	margin: 0
.btn
	display: inline-block
	vertical-align: middle
	width: 160px
	height: 42px
	padding: 11px 0 11px 0
	border: 2px solid #fff
	box-sizing: border-box
	color:  #fff
	font-family: "Open Sans", Arial, sans-serif
	font-size: 16px
	font-weight: 600
	text-align: center
	text-transform: uppercase
	transition: all 0.5s ease-in-out 
	&:hover
		background-color: $color-yellow
		border: 2px solid $color-yellow
		color:  #fff
		transition: all 0.5s ease-in-out

@import "layout/header"
@import "layout/banner"
@import "layout/about"
@import "layout/qoute"
@import "layout/team"