section.about                
    .wrapper
        .heading-wrap
            h2 About
            p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet.
        .story-wrap
            .story-containt
                .story-containt_icon
                    span.icon-bulb
                .story-containt_text
                    h6 Our Story
                    p.red Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                    p.text Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            .story-img
                img(src="static/img/about-img.png", alt="img")
                span.story-img__icon
                    span.icon-shape1
        .skills-wrap
            .skills-img
                img.iphone(src="static/img/iPhone.png", alt="iPhone")
                img(src="static/img/iPad.png", alt="iPad")
            .skills-content-wrap
                .skills-content
                    .skills-content_icon
                        span.icon-params
                    .skills-content_text
                        h6 Our Skills
                        p Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
                .skills-bar
                    p Design
                        span  / 88%
                    progress(value = '88' max = '100')
                    p Developmen
                        span  / 76%
                    progress(value = '76' max = '100')
                    p Wordpresselopmen
                        span  / 81%
                    progress(value = '81' max = '100')
                    p Drupal
                        span  / 71%
                    progress(value = '71' max = '100')
