section.banner
	.wrapper
		.banner-slider
			div
				h1 Best Creative Studio #[br]
					span.lg Design / Branding / WordPres #[br] 
					span.sm Great Ideas Happen
				a(href="#").btn Learn more
			div
				h1 Best Creative Studio #[br]
					span.lg Design / Branding / WordPres #[br] 
					span.sm Great Ideas Happen
				a(href="#").btn Learn more
			div
				h1 Best Creative Studio #[br]
					span.lg Design / Branding / WordPres #[br] 
					span.sm Great Ideas Happen
				a(href="#").btn Learn more
		