section.section-bg.clients
    .wrapper
        h2 Our Clients
        ul.client-list
            li.client-list__item
                a(href="#")
                    img(src="static/img/start Sharing.png", alt="logo")
            li.client-list__item
                a(href="#")
                    img(src="static/img/Color.png", alt="logo")
            li.client-list__item
                a(href="#")
                    img(src="static/img/music.png", alt="logo")
            li.client-list__item
                a(href="#")
                    img(src="static/img/Continens.png", alt="logo")