section.contact.section
    .wrapper
        .heading-wrap
            h2 Contact
            p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet.
        .contact-wrap
            .contact-wrap__form
                h6 Drop Us A Message
                form.contact-form(action="#")
                    .form-field
                        input.form-control(type="text", name="name" placeholder="Mike")
                        span.form-field__icon
                            span.icon-user
                    .form-field
                        input.form-control(type="email", name="email" placeholder="Email")
                        span.form-field__icon
                            span.icon-mail
                    .form-field
                        textarea.form-control(name="", cols="30", rows="10" placeholder="Message")
                        span.form-field__icon
                            span.icon-pen
                    .form-field
                        input.btn.btn-warning(type="button", value="submit")
            .contact-wrap__info
                h6 Contact Info
                p Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
                ul.contact-list
                    li.contact-list__item
                        span.contact-list__icon
                             i.fa.fa-map-marker(area-hidden='true')
                        span 13/2 Elizabeth St, Melbourne VIC 3000, Australia
                    li.contact-list__item
                        span.contact-list__icon
                             i.fa.fa-phone(area-hidden='true')
                        a(href="tel:6131468728") +61 3146 8728, 
                        a(href="6109876543") +61 0987 6543
                    li.contact-list__item
                        span.contact-list__icon
                            i.fa.fa-envelope(area-hidden='true')
                        a(href="mailto:support@envato.net") support@envato.net