section.section-bg
    .wrapper
        .facts-list
            .facts-list__item
                .facts-list__icon
                    span.icon-cup
                h5 6k+
                    span Coffees
            .facts-list__item
                .facts-list__icon
                    span.icon-stack    
                h5 743
                    span Projects
            .facts-list__item
                .facts-list__icon
                    span.icon-user-1
                h5 435
                    span Clients
            .facts-list__item
                .facts-list__icon
                    span.icon-like
                h5 225
                    span Awards