header
	.wrapper
		.header-wrapp
			.header-logo
				a(href="#") Mini
			nav
				ul.menu
					li.menu-item
						a.menu-link(href="#") About
					li.menu-item
						a.menu-link(href="#") Team
					li.menu-item
						a.menu-link(href="#") Services
					li.menu-item
						a.menu-link(href="#") Works
					li.menu-item
						a.menu-link(href="#") Blog
					li.menu-item
						a.menu-link(href="#") Concat
						