header
	.wrapper
		.header-wrapp
			.header-logo
			nav
				ul.menu
					li.menu-item
						a.menu-list(href="#") About
					li.menu-item
						a.menu-list(href="#") Team
					li.menu-item
						a.menu-list(href="#") Services
					li.menu-item
						a.menu-list(href="#") Works
					li.menu-item
						a.menu-list(href="#") Blog
					li.menu-item
						a.menu-list(href="#") contact