section.portfolio.section
    .wrapper
        .heading-wrap
            h2 Portfolio
            p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet.
        .box-portfolio-slider
            .portfolio-slider
                div
                    a(href="#")
                        img(src="static/img/portfolio-img.png", alt="")
                div
                    a(href="#")
                        img(src="static/img/portfolio-img.png", alt="")
                div
                    a(href="#")
                        img(src="static/img/portfolio-img.png", alt="")
            .portfolio-slider__buttons
            .portfolio-slider__footer
                .portfolio-list__title project Title Here
                .portfolio-list__category Graphics
        .hr
        .tab-wrap
            ul.nav-tab-list.tabs
                li.nav-tab-list__item.active
                    a.nav-tab-list__link(href="#tab_1") All work
                li.nav-tab-list__item
                    a.nav-tab-list__link(href="#tab_2") Graphics
                li.nav-tab-list__item
                    a.nav-tab-list__link(href="#tab_3") WebDesign
                li.nav-tab-list__item
                    a.nav-tab-list__link(href="#tab_4") Branding
                li.nav-tab-list__item
                    a.nav-tab-list__link(href="#tab_5") Video
                li.nav-tab-list__item
                    a.nav-tab-list__link(href="#tab_6") Photography
            .box-tab-cont
                .tab-cont#tab_1
                    .portfolio-list
                        .portfolio-list__item
                            a.portfolio-list__link(href="#")
                            .portfolio-list__img
                                span.icon-slideshow
                                a.portfolio-list__preview
                            .portfolio-list__footer
                                .portfolio-list__title project Title Here
                                .portfolio-list__category Graphics

                        .portfolio-list__item
                            a.portfolio-list__link(href="#")
                            .portfolio-list__img
                                span.icon-slideshow
                                a.portfolio-list__preview
                            .portfolio-list__footer
                                .portfolio-list__title project Title Here
                                .portfolio-list__category Photography

                        .portfolio-list__item
                            a.portfolio-list__link(href="#")
                            .portfolio-list__img
                                img(src="static/img/portfolio-list-img.png", alt="branding")
                                a.portfolio-list__preview
                            .portfolio-list__footer
                                .portfolio-list__title project Title Here
                                .portfolio-list__category Branding

                        .portfolio-list__item
                            a.portfolio-list__link(href="#")
                            .portfolio-list__img
                                span.icon-slideshow
                                a.portfolio-list__preview
                            .portfolio-list__footer
                                .portfolio-list__title project Title Here
                                .portfolio-list__category Graphics

                        .portfolio-list__item
                            a.portfolio-list__link(href="#")
                            .portfolio-list__img
                                span.icon-slideshow
                                a.portfolio-list__preview
                            .portfolio-list__footer
                                .portfolio-list__title project Title Here
                                .portfolio-list__category Web Design

                        .portfolio-list__item
                            a.portfolio-list__link(href="#")
                            .portfolio-list__img
                                span.icon-slideshow
                                a.portfolio-list__preview
                            .portfolio-list__footer
                                .portfolio-list__title project Title Here
                                .portfolio-list__category Video

                        .portfolio-list__item
                            a.portfolio-list__link(href="#")
                            .portfolio-list__img
                                span.icon-slideshow
                                a.portfolio-list__preview
                            .portfolio-list__footer
                                .portfolio-list__title project Title Here
                                .portfolio-list__category Photography

                        .portfolio-list__item
                            a.portfolio-list__link(href="#")
                            .portfolio-list__img
                                span.icon-slideshow
                                a.portfolio-list__preview
                            .portfolio-list__footer
                                .portfolio-list__title project Title Here
                                .portfolio-list__category Branding
                .tab-cont.hide#tab_2
                    .portfolio-list
                        .portfolio-list__item
                            a.portfolio-list__link(href="#")
                            .portfolio-list__img
                                span.icon-slideshow
                                a.portfolio-list__preview
                            .portfolio-list__footer
                                .portfolio-list__title project Title Here
                                .portfolio-list__category Graphics

                        .portfolio-list__item
                            a.portfolio-list__link(href="#")
                            .portfolio-list__img
                                span.icon-slideshow
                                a.portfolio-list__preview
                            .portfolio-list__footer
                                .portfolio-list__title project Title Here
                                .portfolio-list__category Graphics
                .tab-cont.hide#tab_3
                    .portfolio-list
                        .portfolio-list__item
                            a.portfolio-list__link(href="#")
                            .portfolio-list__img
                                span.icon-slideshow
                                a.portfolio-list__preview
                            .portfolio-list__footer
                                .portfolio-list__title project Title Here
                                .portfolio-list__category Web Design
                .tab-cont.hide#tab_4
                    .portfolio-list
                        .portfolio-list__item
                            a.portfolio-list__link(href="#")
                            .portfolio-list__img
                                img(src="static/img/portfolio-list-img.png", alt="branding")
                                a.portfolio-list__preview
                            .portfolio-list__footer
                                .portfolio-list__title project Title Here
                                .portfolio-list__category Branding

                        .portfolio-list__item
                            a.portfolio-list__link(href="#")
                            .portfolio-list__img
                                span.icon-slideshow
                                a.portfolio-list__preview
                            .portfolio-list__footer
                                .portfolio-list__title project Title Here
                                .portfolio-list__category Branding
                .tab-cont.hide#tab_5
                    .portfolio-list
                        .portfolio-list__item
                            a.portfolio-list__link(href="#")
                            .portfolio-list__img
                                span.icon-slideshow
                                a.portfolio-list__preview
                            .portfolio-list__footer
                                .portfolio-list__title project Title Here
                                .portfolio-list__category Video
                .tab-cont.hide#tab_6
                    .portfolio-list
                        .portfolio-list__item
                            a.portfolio-list__link(href="#")
                            .portfolio-list__img
                                span.icon-slideshow
                                a.portfolio-list__preview
                            .portfolio-list__footer
                                .portfolio-list__title project Title Here
                                .portfolio-list__category Photography
                        .portfolio-list__item
                            a.portfolio-list__link(href="#")
                            .portfolio-list__img
                                span.icon-slideshow
                                a.portfolio-list__preview
                            .portfolio-list__footer
                                .portfolio-list__title project Title Here
                                .portfolio-list__category Photography