section.section-bg
    .wrapper
        .testimonial 
            span.quote__author Maria Jones
            p.testimonial__text 
                |“Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis semnibh id elit.”
            .testimonial__avatar
                img(src="static/img/lady.png", alt="lady") 