section.section-bg
    .wrapper
        .tweet-wrap
            .tweet-wrap__icon
                i.fa.fa-twitter(aria-hidden='true')
            p.tweet-wrap__text
                |Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,#[br] nec sagittis sem nibh id elit. Duis sed odio sit amet nibh #[a(href="#") ow.ly/ttlwd] 
            span.tweet-wrap__time 3 hours ago
